---
import siteData from "../data/site.json";

const pn = Astro.url.pathname;
const isHome = pn === "/";
const site = Astro.site;
const abtLink = isHome ? "#about" : `${site}#about`;
const ftLink = isHome ? "#features" : `${site}#features`;
---

<footer
  class="w-full flex flex-col sm:flex-row sm:justify-center text-lg tracking-wide px-4 sm:px-0 py-16"
>
  <div class="text-center pr-0 sm:pr-8 py-4">
    <ul class="list-none">
      {
        siteData.social.map((scm) => (
          <li>
            <a
              class="text-gray-800 hover:text-blue-500 no-underline"
              href={scm.url}
              target="_blank"
              rel="_noopener"
            >
              {scm.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="h-px sm:h-auto w-1/2 sm:w-px bg-blue-500 mx-auto sm:mx-0"></div>
  <div class="text-center px-8 py-4">
    <ul class="list-none">
      <li>
        <a class="text-gray-800 hover:text-blue-500 no-underline" href={abtLink}
          >About</a
        >
      </li>
      <li>
        <a class="text-gray-800 hover:text-blue-500 no-underline" href={ftLink}
          >Features</a
        >
      </li>
    </ul>
  </div>
  <div class="h-px sm:h-auto w-1/2 sm:w-px bg-blue-500 mx-auto sm:mx-0"></div>
  <div class="text-center pl-0 sm:pl-8 py-4">
    <ul class="list-none">
      <li>
        <a
          class="text-gray-800 hover:text-blue-500 no-underline"
          href={`${site}privacy`}>Privacy</a
        >
      </li>
      <li>
        <a
          class="text-gray-800 hover:text-blue-500 no-underline"
          href={`${site}imprint`}>Imprint</a
        >
      </li>
    </ul>
  </div>
</footer>
<div class="w-full">
  <span class="block text-center text-gray-800 text-sm font-light">
    &copy; {siteData.author}
  </span>
</div>
<div class="">
  <a
    id="btt"
    class="hidden fixed bottom-0 right-0 mb-4 mr-4 text-gray-200 border border-blue-500 hover:bg-gray-200 hover:text-blue-500 hover:border-browngray no-underline px-6 py-1 bg-blue-500 shadow-md"
    href="#top"
    title="Back to Top">UP</a
  >
</div>
<!-- <div class="fixed bottom-0 left-0 m-6 z-index-2 social-floating">
  <a
    href="https://wa.me/+918810394795"
    id="whatsapp"
    target="_blank"
    rel="noopener"
    class="block rounded-full bg-gray-900 text-blue-500 hover:bg-white hover:text-black shadow-md p-4 my-4"
  >
    <img
      src={`${site}img/whatsapp.svg`}
      width="30"
      height="30"
      class="block"
      alt="Whatsapp icon"
    />
  </a>
  <a
    id="facebook"
    target="_blank"
    rel="noopener"
    class="block rounded-full bg-gray-900 text-blue-500 hover:bg-white hover:text-black shadow-md p-4 my-4"
  >
    <img
      src={`${site}img/facebook.svg`}
      width="30"
      height="30"
      class="block"
      alt="Facebook icon"
    />
  </a>
  <a
    href="https://www.linkedin.com/company/denly/"
    target="_blank"
    rel="noopener"
    class="block rounded-full bg-gray-900 text-blue-500 hover:bg-white hover:text-black shadow-md p-4 my-4"
  >
    <img
      src={`${site}img/linkedin.svg`}
      width="30"
      height="30"
      class="block"
      alt="Linkedin icon"
    />
  </a>
  <a
    href="https://www.instagram.com/denly.co/"
    target="_blank"
    rel="noopener"
    class="block rounded-full bg-gray-900 text-blue-500 hover:bg-white hover:text-black shadow-md p-4 my-4"
  >
    <img
      src={`${site}img/instagram.svg`}
      width="30"
      height="30"
      class="block"
      alt="Linkedin icon"
    />
  </a>
</div> -->

<!-- "Follow" Tooltip template -->
<!-- <template id="followTip">
  {
    siteData.facebook.map((scm) => (
      <a
        href={scm.url}
        class="inline-block text-gray-200 text-sm bg-blue-500 shadow-md hover:bg-gray-200 hover:text-gray-800 no-underline p-1 px-4 mx-2 my-1"
        target="_blank"
        rel="noopener"
      >
        {scm.title}
      </a>
    ))
  }
</template> -->

<!-- <style>
  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    .social-floating {
      display: none;
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    .social-floating {
      display: none;
    }
  }
</style> -->
